.article-body {
  @include clearfix;
  
  &:last-child:after {
    display: block;
    content: "";
    clear: both;
  }

  h1 {
    margin-top: 0;
  }

  a {
    text-decoration: underline $base-link-underline-color;
  }
  
  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }

  dl {
    dt {
      margin: $base-spacing/2 0;
    }

    dd {
      margin: $base-spacing/2 0 $base-spacing 0;
    }
  }

  pre {
    overflow-x: scroll;
  }

  .page-description {
    margin: $base-spacing*2 $base-spacing/2;
    padding: $base-spacing/2;
    border: $base-border;
  }
  
  .big-quote {
    border: none;
    margin: 0;
    padding: $base-spacing * 0.5;
    font-size: modular-scale(2);
    font-style: italic;
  }

  .footnotes {
    margin-top: $base-spacing;
    border-top: $base-border;
    padding-top: $base-spacing;
    font-size: modular-scale(-1);
    clear: both;
  }
}
