article header {
  margin-bottom: $base-spacing;
  
  .meta.subtitle {
    display: block;
    margin-top: $base-spacing/2;
    font-size: modular-scale(2);
  }

  .meta.time {
    font-size: modular-scale(-1);
    margin-top: $base-spacing / 2;
  }

  .meta.tags {
    display: inline;
    li {
      display: inline;
    }
  }
}
