.commands.list {
  padding-left: 0;
  
  .command.item {
    display: inline-block;
    border: 2px solid $dark-gray;
    border-radius: $base-border-radius;
    padding: 0;
    margin: 0.4em 0.2em;
    
    a {
      padding: 1.2em;
      line-height: $base-line-height * 1.5;
      color: $base-font-color;
    }
  }
}
