%site-header-font {
  font-size: em(18px);
  @include media($mobile) {
    font-size: em(16px);
  }
}

.site.header {
  margin: 0;
  padding: 0;
  @extend %site-header-font;

  .site.title {
    margin-bottom: 0.2em;
    display: inline;
    font-weight: normal;
    @extend %site-header-font;
    
    a {
      color: $base-font-color;
    }
  }

  nav {
    display: inline;
    @extend %site-header-font;

    ul.breadcrumbs {
      display: inline;

      li {
        display: inline;
        
        a {
          color: $base-font-color;
        }
      }

      li:before {
        content: " / ";
      }
    }
  }
}
