.site.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: $base-padding;
  background-color: $base-main-color;
  white-space: nowrap;
  overflow-x: scroll;

  .top_navigation {
    $color: $base-background-color;
  
    &, a, li {
      color: $color;
    }
  
    a:focus {
      outline-color: $color;
    }
  
    a:hover,
    a:focus {
      color: darken($color, 20);
    }
  
    .vid {
      width: 3em;
      height: 3em;
      vertical-align: middle;
    }
  
    ul {
      li {
        list-style: none;
        display: inline-block;
        padding-right: 1em;
        font-size: modular-scale(1);
  
        &.active {
          text-decoration: underline $base-link-underline-color;
        }
      }
    }
  }
}
