.site.header {
  position: fixed;
  z-index: 100;
  width: 100%;
  padding: $base-padding * 0.5;
  background-color: $base-main-color;
  white-space: nowrap;
  overflow-x: scroll;

  .top_navigation {
    $color: $base-background-color;
  
    &, a, li {
      color: $color;
    }
  
    a:focus {
      outline-color: $color;
    }
  
    a:hover,
    a:focus {
      color: darken($color, 20);
    }
  
    .top_navigation-items-top {
      font-size: modular-scale(2);

      .vid {
        width: 2em;
        height: 2em;
        vertical-align: middle;
      }
    }
  
    ul {
      li {
        list-style: none;
        display: inline-block;
        padding-right: 0.3em;
  
        &.active {
          text-decoration: underline $base-link-underline-color;
        }
      }
    }
  }
}
