.container {
  @include outer-container;
  
  .site.header {
    margin: 0;
    padding: 0;
    
    .site.title {
      line-height: 1.2;
    }
    
    .site.subtitle {
      margin-bottom: 0;
    }
  }

  ul.external.link.component {
    li {
      display: inline;
    }
  }

  .sharing {
    @extend %border-top;
    
    .fb-comments {
      display: block;
      margin-top: $base-spacing;
      
      iframe[style],
      > span {
          width: 100% !important;
      }
    }
  }
}