.container {
  @include outer-container;
  
  .site.header {
    margin: 0;
    padding: 0;
    
    .site.title {
      margin-bottom: 0.2em;
    }

    .site.description {
      margin-bottom: 0.2em;
    }
  }

  main {
    header {
      h1 {
        line-height: 2;
      }
    }
  }

  .external.link {
    li {
      display: inline;
    }
  }

  .sharing {
    @extend %border-top;
    
    .fb-comments {
      display: block;
      margin-top: $base-spacing;
      
      iframe[style],
      > span {
          width: 100% !important;
      }
    }
  }
}