main.list.index,
main.list.index {
  header {
    .meta.posts.count,
    .meta.pages.count {
      font-size: 75%;
    }
  }

  .post.item,
  .page.item {
    $color: $base-font-color;
    $hover-color: $base-link-color;
    
    @include clearfix;
    margin: 2em 0;

    .link {
      display: block;
      color: $color;
      
      &:hover,
      &:focus {
        color: $hover-color;
      }

      .title {
        font-size: 110%;
        line-height: 1.4;
        margin-bottom: 0.5em;
        
        @include media($medium-screen-up) {
          font-size: 140%;
          line-height: 1.5;
          margin-bottom: 0.7em;
        }
      }

      .thumbnail {
        float: right;
        margin: 0 0 0.4em 0.4em;
        width: 7.5em;
        height: 7.5em;
        
        @include media($mobile) {
          width: 5em;
          height: 5em;
        }
        
        @include media($medium-screen-up) {
          margin: 0 0 1em 1em;
          width: 10em;
          height: 10em;
        }
      }

      .meta.subtitle {
        font-size: 75%;
        margin-left: 0.5em;
      }
      
      .meta.description {
        font-size: 95%;
        line-height: 1.2;
        margin-bottom: 0.6em;
      }

      .meta.time {
        font-size: 80%;
      }
    }
  }
}
