main {
  article {
    .main.content.body {
      line-height: 2.3em;
      
      @include media($medium-screen-up) {
        font-size: em(18px);
      }
      
      h1, h2, h3, h4, h5, h6 {
        margin-bottom: 0.5em;
      }
    }

    ul {
      @extend %default-ul
    }

    ol {
      @extend %default-ol
    }

    pre {
      overflow-x: scroll;
    }

    .responsive.embed {
      height: 0;
      overflow: hidden;
      position: relative;

      embed,
      object,
      iframe {
        @include position(absolute, 0px null null 0px);
        @include size(100%);
      }
    }

    .responsive.embed.aspect16x9 {
      
      padding-bottom: 56.25%;
    }

    .responsive.embed.aspect4x3 {
      padding-bottom: 75%;
    }

    .external.link {
      li {
        display: inline;
      }
    }

    .sharing {
      @extend %border-top;
      
      .fb-comments {
        display: block;
        margin-top: $base-spacing;
        
        iframe[style],
        > span {
            width: 100% !important;
        }
      }
    }

    .pagination {
      @extend %border-top;
    }

    .footnotes {
      @extend %border-top;
    }
  }
}
