main header {
  .page.title {
    line-height: 1.5;

    &.about {
      margin: 1em 0;
    }
  }

  .meta.subtitle {
    font-size: 75%;
  }

  .meta.time {
    font-size: 80%;
  }

  .tab.navigation {
    margin: 1em 0 1em 0;
  }
}
