main article header {
  margin-top: $base-spacing;

  .meta.subtitle {
    font-size: modular-scale(-1);
    margin-left: $base-padding;
  }

  .meta.time {
    font-size: modular-scale(-1);
    margin-top: $base-spacing / 2;
  }
}


main article section.content.body {
  margin-top: $base-spacing;

  .page-description {
    margin: $base-spacing / 2;
    padding: $base-spacing / 2;
    color: $base-background-color;
    background-color: $base-main-color;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: $base-spacing 0 $base-spacing/2 0;
  }

  ul {
    @extend %default-ul;
  }

  ol {
    @extend %default-ol;
  }

  dl {
    dt {
      margin: $base-spacing/2 0;
    }

    dd {
      margin: $base-spacing/2 0 $base-spacing 0;
    }
  }

  pre {
    overflow-x: scroll;
  }

  figure {
    margin: $base-spacing $base-spacing/2;

    &.center { text-align: center; }
    &.left { text-align: left; }
    &.right { text-align: right; }

    figcaption {
      font-size: smaller;
    }
  }

  iframe {
    // margin: $base-spacing 0;
  }

  .responsive.embed {
    margin: $base-spacing 0;
    height: 0;
    overflow: hidden;
    position: relative;

    embed,
    object,
    iframe {
      @include position(absolute, 0px null null 0px);
      @include size(100%);
    }
  }

  .responsive.embed.aspect16x9 {

    padding-bottom: 56.25%;
  }

  .responsive.embed.aspect4x3 {
    padding-bottom: 75%;
  }

  .external.link {
    list-style-type: none;
    padding-left: 0;

    li {
      display: inline;

      img {
        max-width: 4em;
      }
    }
  }

  .footnotes {
    @extend %border-top;
    font-size: modular-scale(-1);
  }
}

main article footer {
  .sharing {
    margin-top: $base-spacing*2;
    margin-bottom: $base-spacing;

    .fb-comments {
      display: block;
      margin-top: $base-spacing;

      iframe[style],
      > span {
          width: 100% !important;
      }
    }
  }

  .sequential.link {
    @extend %button;
    .meta.subtitle {
      font-size: modular-scale(-1);
      margin-left: 0.5em;
    }
  }
}
