main.posts.list,
main.pages.list {
  header {
    .meta.posts.count,
    .meta.pages.count {
      font-size: 75%;
    }
  }

  .post.item,
  .page.item {
    @include clearfix;
    margin: 2em 0;

    .link {
      display: block;
      color: $base-font-color;

      .thumbnail {
        float: right;
        margin: 0 0 1em 1em;
        width: 10em;
        height: 10em;
      }

      .title {
        font-size: 140%;
        margin-bottom: 0.7em;
        line-height: 1.5;
      }
      
      .meta.subtitle {
        font-size: 70%;
        margin-left: 0.5em;
      }
      
      .meta.description {
        font-size: 95%;
        line-height: 1.2;
        margin-bottom: 0.6em;
      }

      .meta.time {
        font-size: 80%;
        color: $medium-gray;
      }

      @include media($mobile) {
        .title {
          font-size: 110%;
          line-height: 1.4;
          margin-bottom: 0.5em;
        }

        .thumbnail {
          float: right;
          margin: 0 0 0.4em 0.4em;
          width: 5em;
          height: 5em;
        }
      }
    }
  }
}
