.site.header {
  margin: 0;
  padding: 0;
  font-size: em(20px);

  .site.title {
    margin-bottom: 0.2em;
    display: inline;
    font-size: em(18px);
    
    a {
      color: $base-font-color;
    }
  }

  nav {
    display: inline;

    ul.breadcrumbs {
      display: inline;

      li {
        display: inline;
        
        a {
          color: $base-font-color;
        }
      }

      li:before {
        content: " / ";
      }
    }
  }

  .about.page.link {
    position: relative;
    float: right;
    right: 0;
    top: 0;
    font-size: em(12px);

    a {
      color: $base-font-color;
      margin: 0;
      padding: 0.4em;
      border: 2px solid $dark-gray;
      border-radius: $base-border-radius;
    }
  }
}
