nav.page.list {
  ul {
    li {
      display: inline-block;
      border: $base-border;
      border-radius: $base-border-radius;
      padding: 0;
      margin: 0.4em 0.2em;
      
      a {
        padding: 1.2em;
        line-height: $base-line-height * 1.5;
      }
    }
  }
}

article {
  ul {
    @extend %default-ul
  }
  
  ol {
    @extend %default-ol
  }
  
  .footnotes {
    @extend %border-top;
  }
}

footer {
  @extend %border-top;
}

.post.list,
.speech.list,
.writing.list {
  .item {
    @extend %border-top;

    .meta.subtitle {
      font-size: 75%;
    }
  }
}
