// This is the root of custom stylesheets imported by css/main.scss

%border-top {
  margin-top: $base-spacing;
  border-top: $base-border;
  padding-top: $base-spacing;
}

body {
  margin: 0;
}

.container {
  @include outer-container;

  main {
    padding: 0.5em;
    margin: 0.5em 0 0 0;
  }
}

.site.footer {
  @extend %border-top;
  padding: 0.5em;
}

@import "commands_list";
@import "list_index";
@import "main_article";
@import "mobile_typography";
@import "syntax"; // for Pygments syntax highlighter
@import "tab_navigation";
@import "website_header";
