.tab-navigation {
  font-size: modular-scale(-1);
  text-align: center;

  ul {
    li {
      list-style: none;
      display: inline-block;
      padding-right: 0.3em;

      &.active {
        font-weight: bold;
      }
    }
  }
}
