.tab.navigation {
  ///////////////////////////////////////////////////////////////////////////////////
  $base-border-color: gainsboro !default;
  $base-background-color: white !default;
  $base-spacing: 1.5em !default;
  $base-accent-color: #477DCA !default;
  $base-link-color: $base-accent-color !default;
  $medium-screen-up: em(640) !default;
  //////////////////////////////////////////////////////////////////////////////////

  $tab-link-color: $base-font-color;
  $tab-border: 1px solid $base-border-color;
  $tab-active-background: $base-background-color;
  $tab-inactive-color: $base-background-color;
  $tab-inactive-hover-color: silver;
  $tab-mode: $medium-screen-up;

  margin-top: 0.3em;
  @include media($tab-mode) {
    margin-top: 1.0em;
  }
  
  .menu.button {
    padding: 0.4em 0.9em;
    margin: 0em 0 1.0em;
    font-size: inherit;
    font-weight: normal;
    border: $base-border;
    border-radius: $base-border-radius;
    background-color: transparent;
    color: $base-font-color;

    @include media($tab-mode) {
      display: none;
    }
    
    .open.icon {
      display: inline;
    }
    .close.icon {
      display: none;
    }

    &.is-open {
      .open.icon {
        display: none;
      }
      .close.icon {
        display: inline;
      }
    }

    &.is-removed {
      display: none;
    }
  }

  .menu.content {
    height: 0;
    overflow: hidden;

    @include media($tab-mode) {
      height: auto;
      overflow: visible;
    }
  }

  .menu.content.is-open {
    height: 15em;

    @include media($tab-mode) {
      height: auto;
    }
  }

  ul {
    @include transition(all 0.3s ease-in-out);
    @include clearfix;
    font-size: em(14px);
    line-height: 1.5;
    padding: 0;
    border-bottom: $tab-border;

    > li {
      list-style: none;

      @include media($tab-mode) {
        display: inline;
      }

      > a {
        background-color: $tab-inactive-color;
        border-top: $tab-border;
        color: $tab-link-color;
        display: block;
        font-weight: 400;
        padding: 0.6em;
        text-decoration: none;

        @include media($tab-mode) {
          display: inline-block;
          border-top: 0;
        }

        &:hover {
          color: $base-link-color;
        }

        &:focus {
          outline: none;
        }

        &.is-active {
          border-bottom: 0;
          background-color: $base-main-color;
          color: $base-base-color;

          .title {
            font-weight: normal;
            font-size: inherit;
          }

          @include media($tab-mode) {
            border: $tab-border;
            border-bottom-color: $tab-active-background;
            margin-bottom: -1px;
            color: $base-font-color;
            background-color: transparent !important;
          }
        }

        > .title {
          display: inline;
          font-size: 1.1em;
        }
      } // a
    } // li
  } // ul
}
