.top_navigation {
  text-align: center;

  .vid {
    width: 2em;
    height: 2em;
    vertical-align: top;
  }

  ul {
    li {
      list-style: none;
      display: inline-block;
      padding-right: 0.3em;

      &.active {
        font-weight: bold;
      }
    }
  }
}
