.site.header {
  margin: 0;
  padding: 0;
  
  font-size: em(20px);
  
  @include media($mobile) {
    font-size: em(16px);
  }

  .site.title {
    margin-bottom: 0.2em;
    display: inline;
    font-weight: normal;
    font-size: inherit;
    
    a {
      color: $base-font-color;
    }
  }

  nav {
    display: inline;
    font-size: inherit;

    ul.breadcrumbs {
      display: inline;

      li {
        display: inline;
        
        a {
          color: $base-font-color;
        }
      }

      li:not(:last-child):after {
        content: " / ";
      }
    }
  }
}
