.site.header {
  margin: 0 0 0.5em 0;
  padding: 0.2em;
  background-color: $base-main-color;
  &, a, li {
    color: $base-base-color;
  }

  a:focus {
    outline-color: $base-base-color;
  }
  
  a:hover {
    color: darken($base-base-color, 15);
  }
  
  font-size: em(16px);
  @include media($medium-screen-up) {
    font-size: em(32px);
  }

  .site.id {
    $size: 1.2em;
    @include media($medium-screen-up) {
      $size: 1.8em;
    }
    width: $size;
    height: $size;
    margin-right: 0.3em;
    vertical-align: sub;
  }

  .site.title {
    display: inline;
    font-weight: normal;
    font-size: inherit;
  }

  nav {
    display: inline;
    font-size: inherit;

    ul.breadcrumbs {
      display: inline;

      li {
        display: inline;
      }

      li:not(:first-child):before,
      li:last-child:after {
        content: "/";
        margin-left: 0.15em;
      }
    }
  }
}
