.site.header {
  $color: $base-background-color;
  $background-color: $base-main-color;
  
  margin: 0 0 0.5em 0;
  padding: 0.2em;
  background-color: $background-color;
  &, a, li {
    color: $color;
  }

  a:focus {
    outline-color: $color;
  }
  
  a:hover,
  a:focus {
    color: darken($color, 20);
  }
  
  font-size: em(16px);
  @include media($medium-screen-up) {
    font-size: em(32px);
  }

  .site.id {
    $size: 2.0em;
    width: $size;
    height: $size;
    margin-right: 0.3em;
    vertical-align: middle;
    position: relative;
    top: -0.05em;
  }

  .site.title {
    display: inline;
    font-weight: normal;
    font-size: inherit;
    margin-right: 0.2em;
    
    .whitespace {
      font-size: 0.5em;
    }
  }
}
