<article class="article meta">
  <a class="link" href="{{ _post.url | prepend: site.baseurl }}">
    <img class="thumbnail" src="{% if _post.thumbnail %}{{ _post.thumbnail }}{% else %}{{ site.thumbnail }}{% endif %}" alt="" width="300" height="300">
    <div class="text">
      <div class="title">
        <span class="meta title">{{ _post.title }}</span>
        {% if _post.subtitle %}<span class="meta subtitle">{{ _post.subtitle }}</span>{% endif %}
      </div>
      <p class="meta description">{{ _post.description }}</p>
      <p class="meta time"><time>{{ _post.date | date: "%Y-%m-%d" }}</time></p>
    </div>
  </a>
</article>
