{%- capture page_title -%}
  {%- if page.url != "/" -%}
    {% if page.title %}{{ page.title }}{% if page.subtitle %} {{ page.subtitle }}{% endif %}{% endif %}（{{ site.title }}）
  {%- else -%}
    {{ site.title }}
  {%- endif -%}
{%- endcapture -%}
{%- capture page_image -%}
  {%- if page.thumbnail -%}
    {{ page.thumbnail | prepend: site.baseurl | prepend: site.url }}
  {%- else -%}
    {{ site.thumbnail | prepend: site.baseurl | prepend: site.url }}
  {%- endif -%}
{%- endcapture -%}
{%- capture page_description -%}
  {{ page.description | default: page.excerpt | default: site.description | strip_html | condense_spaces | strip_newlines | truncate:150 }}
{%- endcapture -%}
