{%- capture page_title -%}
  {%- if page.url != "/" -%}
    {%- if page.title %}{{ page.title }}{% if page.subtitle %} {{ page.subtitle }}{% endif %}{%- endif -%}
  {%- else -%}
    {{ site.title }}
  {%- endif -%}
{%- endcapture -%}
{%- capture page_image -%}
  {%- if page.thumbnail -%}
    {{ page.thumbnail | prepend: site.baseurl | prepend: site.url }}
  {%- else -%}
    {{ site.thumbnail | prepend: site.baseurl | prepend: site.url }}
  {%- endif -%}
{%- endcapture -%}
{%- capture page_description -%}
  {%- if page.description -%}
    {{ page.excerpt | default: page.description | default: site.description | strip_html | condense_spaces | strip_newlines | truncate:150 }}
  {%- else -%}
    {{ site.description }}
  {%- endif -%}
{%- endcapture -%}
