<footer class="site footer">
  <p>
    <small>
      <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="クリエイティブ・コモンズ・ライセンス" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/88x31.png" width="88" height="31"></a><br /><a prefix="cc: http://creativecommons.org/ns#" href="http://ja.ishibashihideto.net/" property="cc:attributionName" rel="cc:attributionURL">石橋秀仁</a>を著作者とするこのサイトのコンテンツは<a rel="license" href="http://creativecommons.org/licenses/by/4.0/">クリエイティブ・コモンズ表示4.0国際ライセンス</a>で提供されています。
    </small>
  </p>
</footer>
