<head>
  {% include google_analytics.html %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width initial-scale=1" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>{{ page_title }}</title>
  <meta name="description" content="{{ page_description }}">
  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="stylesheet" href="{{ "/css/print.css" | prepend: site.baseurl }}" media="print">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link href="{{ site.thumbnail }}" type="image/png" rel="icon">
  <link href="{{ site.thumbnail }}" rel="apple-touch-icon">
  <link rel="pgpkey" href="/hideishi.pubkey.asc"/>
  <link href="/atom.xml" rel="alternate" title="{{site.title}}" type="application/atom+xml">
  <meta property="og:title" content="{{ page_title }}">
  <meta property="og:description" content="{{ page_description }}">
  <meta property="og:url" content="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <meta property="og:image" content="{{ page_image }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="{{ site.facebook_locale }}">
  <meta property="og:type" content="article">
  <meta property="fb:app_id" content="{{ site.facebook_app_id }}">
  <meta name="twitter:card" content="summary" />
  <meta name="twitter:creator" content="@{{ site.twitter_user }}" />
  <meta name="twitter:title" content="{{ page_title }}" />
  <meta name="twitter:description" content="{{ page_description }}" />
  <meta name="twitter:image" content="{{ page_image }}">
  <script src="https://kit.fontawesome.com/06da523237.js" crossorigin="anonymous"></script>
</head>
