<header class="site header">
  {% if site.show_lang_switcher %}
  <div class="header-upper container">
    <div class="header-upper wrapper">
      <ul class="languages">
        <li class="selected language">日本語</li>
        <li class="language"><a href="http://en.ishibashihideto.net/">English</a></li>
      </ul>
    </div>
  </div>
  {% endif %}
  <div class="breadcrumbs wrapper">
    <nav class="breadcrumbs container">
      <div class="title">
        <a href="{{ site.baseurl }}/" rel="index"><img alt="" src="/images/site_id.png" class="vid"></a>
        {% case page.layout %}
          {% when 'top' %}
            <h1>石橋秀仁</h1>
          {% when 'post' %}
            {% assign category = page.categories.first %}
            <a href="{{ site.baseurl }}/{{ category }}/">{{ site.category_labels[category] }}</a>
          {% when 'podcast' %}
            {% assign category = page.categories.first %}
            <a href="{{ site.baseurl }}/{{ category }}/">{{ site.category_labels[category] }}</a>
          {% else %}
            <h1>{{ site.category_labels[page.categories] }}</h1>
        {% endcase %}
      </div>
    </nav>
    <nav class="tab-navigation container">
      <ul class="tab-navigation-items">
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/blog/">Blog</a>
        </li>
        <li>
          <a href="/activity/">Activity</a>
        </li>
        <li>
          <a href="/podcast/">Podcast</a>
        </li>
        {% if false %}
        <li>
          <a href="/about/">About</a>
        </li>
        {% endif %}
      </ul>
    </nav>
  </div>
  {% if site.lead %}
  <div class="lead wrapper">
    <div class="lead container">
      {{ site.lead }}
    </div>
  </div>
  {% endif %}
</header>
