{% if page.categories %}
  {% assign posts = site.categories[page.categories] %}
{% else %}
  {% assign posts = site.posts %}
{% endif %}

<main class="list index">
  <header>
    {% include tab_navigation.html %}
  </header>

  <ul class="post list">
    {% for post in posts %}
      <li class="post item">
        <article>
          <a class="link" href="{{ post.url | prepend: site.baseurl }}">
            <img class="thumbnail" src="{% if post.thumbnail %}{{ post.thumbnail }}{% else %}{{ post.path | replace: '_posts/', '/images/posts/' | replace: '.md', '/thumbnail.png' }}{% endif %}" alt="" width="300" height="300">
            <h2 class="title">
              {{ post.title }} {% if post.subtitle %}<span class="meta subtitle">{{ post.subtitle }}</span>{% endif %}
            </h2>
            <p class="meta description">{{ post.description }}</p>
            <p class="meta time"><time>{{ post.date | date: "%Y-%m-%d" }}</time></p>
          </a>
        </article>
      </li>
    {% endfor %}
  </ul>
  
  {% include commands.html %}
</main>
