{% if page.next or page.previous %}
  <nav class="pagination">
    {% if page.next %}
      <a href="{{ page.next.url }}" rel="next">Next: {{ page.next.title }}{% if page.next.subtitle %} <span class="meta subtitle">{{ page.next.subtitle }}</span>{% endif %}</a>
    {% endif %}
    {% if page.previous %}
      <a href="{{ page.previous.url }}" rel="previous">Previous: {{ page.previous.title }}{% if page.previous.subtitle %} <span class="meta subtitle">{{ page.previous.subtitle }}</span>{% endif %}</a>
    {% endif %}
  </nav>
{% endif %}
