{% capture canonical %}{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}{% endcapture %}
<div class="share">
  <a href="//twitter.com/share" class="twitter-share-button" data-url="{{ canonical }}" data-counturl="{{ canonical }}" data-text="{{ page.title }}{% if page.subtitle %} {{ page.subtitle }}{% endif %}" data-size="large">Tweet</a>
  <div class="fb-like" data-href="{{ canonical }}" data-layout="button" data-size="large"></div>
  {% if site.show_facebook_comment %}<div class="fb-comments" data-href="{{ canonical }}" data-numposts="5" data-colorscheme="light" data-width="100%"></div>{% endif %}
</div>
