<nav class="tab navigation">
  <button class="menu button"><img src="/images/menu_icon.png" alt="" width="16" height="14"> Menu</button>
  <ul class="menu content">
    {% assign sorted_pages = site.pages | sort: 'order' %}
    {% for p in sorted_pages %}
      {% if p.posts %}
        <li>
          {% if p.categories %}
            {% assign posts_count = site.categories[p.categories].size %}
            {% assign label = p.categories | capitalize %}
          {% else %}
            {% assign posts_count = site.posts.size | plus: site.num_about_pages %}
            {% assign label = p.title %}
          {% endif %}
          {% include tab_navigation_item.html url=p.url label=label count=posts_count %}
        </li>
      {% endif %}
    {% endfor %}
    <li>
      {% if page.categories == "about" %}
        <a href="/about/"  class="is-active"><h1 class="title">About</h1> <span class="meta posts count">(4)</span></a>
      {% else %}
        <a href="/about/">About <span class="meta posts count">(4)</span></a>
      {% endif %}
    </li>
  </ul>
</nav>
