@charset "UTF-8";
/* Bitters 0.10.0 http://bitters.bourbon.io Copyright 2013–2014 thoughtbot, inc. MIT License */
button, input[type="submit"], .commands.list .command, main article footer .sequential.link { -webkit-font-smoothing: antialiased; background-color: #155d81; border-radius: 0.5em; color: #fdfeff; display: inline-block; font-size: 1em; font-weight: normal; line-height: 1; padding: 0.75em 1em; margin: 0.5em; text-decoration: none; }
button:hover, input[type="submit"]:hover, .commands.list .command:hover, main article footer .sequential.link:hover { background-color: #0e3e55; color: #fdfeff; }
button:disabled, input[type="submit"]:disabled, .commands.list .command:disabled, main article footer .sequential.link:disabled { cursor: not-allowed; opacity: 0.5; }

body { -webkit-font-smoothing: antialiased; background-color: #fdfeff; color: #0e3e55; font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; font-size: 1em; line-height: 1.7; }

h1, h2, h3, h4, h5, h6 { font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; line-height: 1.5; margin: 0; text-rendering: optimizeLegibility; }

h1 { font-size: 1.61051em; }

h2 { font-size: 1.4641em; }

h3 { font-size: 1.331em; }

h4 { font-size: 1.21em; }

h5 { font-size: 1.1em; }

h6 { font-size: 1em; }

p { margin: 0 0 0.85em; }

a { -webkit-transition: color 0.1s linear; -moz-transition: color 0.1s linear; transition: color 0.1s linear; color: #1c7dad; text-decoration: none; }
a:hover { color: #0e3e55; text-decoration: underline; }
a:active, a:focus { color: #0e3e55; text-decoration: underline; }

hr { border-bottom: 1px solid #0e3e55; border-left: none; border-right: none; border-top: none; margin: 1.7em 0; }

img, picture { margin: 0; max-width: 100%; }

blockquote { border-left: 2px solid #0e3e55; margin: 1.7em 0; padding-left: 0.85em; }

cite { font-style: italic; }
cite:before { content: "\2014 \00A0"; }

fieldset { background: #155d81; border: 1px solid #0e3e55; margin: 0 0 0.85em 0; padding: 1.7em; }

input, label, select { display: block; font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; font-size: 1em; }

label { font-weight: bold; margin-bottom: 0.425em; }
label.required:after { content: "*"; }
label abbr { display: none; }

textarea, input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"], select[multiple=multiple] { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-transition: border-color; -moz-transition: border-color; transition: border-color; background-color: white; border-radius: 0.5em; border: 1px solid #0e3e55; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06); font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif; font-size: 1em; margin-bottom: 0.85em; padding: 0.56667em 0.56667em; width: 100%; }
textarea:hover, input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover, select[multiple=multiple]:hover { border-color: #071e2a; }
textarea:focus, input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, select[multiple=multiple]:focus { border-color: #CC4400; box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(179, 60, 0, 0.7); outline: none; }

textarea { resize: vertical; }

input[type="search"] { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; }

input[type="checkbox"], input[type="radio"] { display: inline; margin-right: 0.425em; }

input[type="file"] { padding-bottom: 0.85em; width: 100%; }

select { margin-bottom: 1.7em; max-width: 100%; width: auto; }

table { border-collapse: collapse; margin: 0.85em 0; table-layout: fixed; width: 100%; }

th { border-bottom: 1px solid #030e14; font-weight: bold; padding: 0.85em 0; text-align: left; }

td { border-bottom: 1px solid #0e3e55; padding: 0.85em 0; }

tr, td, th { vertical-align: middle; }

ul, ol { margin: 0; padding: 0; list-style-type: none; }
main article section.content.body ul { list-style-type: disc; margin-bottom: 0.85em; padding-left: 1.7em; }
main article section.content.body ol { list-style-type: decimal; margin-bottom: 0.85em; padding-left: 1.7em; }

dl { margin-bottom: 0.85em; }
dl dt { font-weight: bold; margin-top: 0.85em; }
dl dd { margin: 0; }

button, input[type="submit"] { -webkit-appearance: none; -moz-appearance: none; -ms-appearance: none; -o-appearance: none; appearance: none; border: none; cursor: pointer; user-select: none; vertical-align: middle; white-space: nowrap; }

html { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

*, *:before, *:after { -webkit-box-sizing: inherit; -moz-box-sizing: inherit; box-sizing: inherit; }

body { margin: 0; }
@media screen and (min-width: 761px) { body { font-size: 1.1em; } }

.container { max-width: 960px; margin-left: auto; margin-right: auto; padding: 0; }
.container::after { clear: both; content: ""; display: table; }

main { padding: 0.5em; margin: 0.5em 0 0 0; }

small, .footnote, .footnotes { font-size: 0.8em; }

.footnote { text-decoration: underline; }

main article section.content.body .footnotes { margin-top: 1.7em; border-top: 1px solid #0e3e55; padding-top: 1.7em; }

audio { display: block; width: 100%; margin: 2em 0; }

audio::-webkit-media-controls-panel { background-color: #CC4400; }

main.list.index .item { margin: 1.7em 0; }
main.list.index .item::after { clear: both; content: ""; display: table; }
main.list.index .item .link { display: block; color: #0e3e55; }
main.list.index .item .link:hover, main.list.index .item .link:focus { color: #1c7dad; }
main.list.index .item .link .title { font-size: 1.21em; margin-bottom: 0.5em; }
main.list.index .item .link .thumbnail { float: right; margin: 0 0 0.5em 0.5em; width: 5em; height: 5em; }
main.list.index .item .link .meta.subtitle { font-size: 0.82645em; margin-left: 0.5em; }
main.list.index .item .link .meta.description { margin-bottom: 0.5em; }
main.list.index .item .link .meta.time { font-size: 0.90909em; }

main article header { margin-top: 1.7em; }
main article header .meta.subtitle { font-size: 0.90909em; margin-left: 0.5em; }
main article header .meta.time { font-size: 0.90909em; margin-top: 0.85em; }

main article section.content.body { margin-top: 1.7em; }
main article section.content.body .page-description { margin: 0.85em; padding: 0.85em; color: #fdfeff; background-color: #208DC3; }
main article section.content.body h1, main article section.content.body h2, main article section.content.body h3, main article section.content.body h4, main article section.content.body h5, main article section.content.body h6 { margin: 1.7em 0 0.85em 0; }
main article section.content.body dl dt { margin: 0.85em 0; }
main article section.content.body dl dd { margin: 0.85em 0 1.7em 0; }
main article section.content.body pre { overflow-x: scroll; }
main article section.content.body figure { margin: 1.7em 0.85em; }
main article section.content.body figure.center { text-align: center; }
main article section.content.body figure.left { text-align: left; }
main article section.content.body figure.right { text-align: right; }
main article section.content.body figure figcaption { font-size: smaller; }
main article section.content.body .responsive.embed { margin: 1.7em 0; height: 0; overflow: hidden; position: relative; }
main article section.content.body .responsive.embed embed, main article section.content.body .responsive.embed object, main article section.content.body .responsive.embed iframe { position: absolute; top: 0px; left: 0px; height: 100%; width: 100%; }
main article section.content.body .responsive.embed.aspect16x9 { padding-bottom: 56.25%; }
main article section.content.body .responsive.embed.aspect4x3 { padding-bottom: 75%; }
main article section.content.body .external.link { list-style-type: none; padding-left: 0; }
main article section.content.body .external.link li { display: inline; }
main article section.content.body .external.link li img { max-width: 4em; }
main article section.content.body .footnotes { font-size: 0.90909em; }

main article footer .sharing { margin-top: 3.4em; margin-bottom: 1.7em; }
main article footer .sharing .fb-comments { display: block; margin-top: 1.7em; }
main article footer .sharing .fb-comments iframe[style], main article footer .sharing .fb-comments > span { width: 100% !important; }
main article footer .sequential.link .meta.subtitle { font-size: 0.90909em; margin-left: 0.5em; }

.tab.navigation { text-align: center; margin: 0; font-size: 1.61051em; }
.tab.navigation ul { font-size: 0.6em; border: 1px solid #0e3e55; border-radius: 0.5em; line-height: 1.2em; text-align: justify; display: inline-block; overflow: hidden; }
.tab.navigation ul::after { clear: both; content: ""; display: table; }
.tab.navigation ul li { list-style: none; display: inline-block; padding: 0.5em; min-width: 3em; text-align: center; }
.tab.navigation ul li a { background-color: #fdfeff; color: #0e3e55; text-decoration: none; }
.tab.navigation ul li a .title { display: inline; font-size: inherit; line-height: inherit; }
.tab.navigation ul li.is-active { color: #fdfeff; background-color: #0e3e55; }
.tab.navigation ul li.is-active a { color: inherit; background-color: inherit; }
.tab.navigation ul li.is-active .title { font-weight: normal; font-size: inherit; }
.tab.navigation ul li:first-child { padding-left: 0.7em; }
.tab.navigation ul li:last-child { padding-right: 0.7em; }
.tab.navigation ul li a:hover, .tab.navigation ul li a:focus { color: #1c7dad; }

.site.footer { padding: 1em 0.5em; background-color: #208DC3; margin-top: 1.7em; font-size: 0.90909em; }
.site.footer, .site.footer a, .site.footer li { color: #fdfeff; }
.site.footer a:focus { outline-color: #fdfeff; }
.site.footer a:hover, .site.footer a:focus { color: #a5d7f0; }
.site.footer .copyright.container img { vertical-align: middle; }

.site.header { background-color: #208DC3; }
.site.header, .site.header a, .site.header li { color: #fdfeff; }
.site.header a:focus { outline-color: #fdfeff; }
.site.header a:hover, .site.header a:focus { color: #a5d7f0; }
.site.header .header-upper.container .languages { padding: 0.25em 0; text-align: right; font-size: 0.90909em; }
.site.header .header-upper.container .languages .language, .site.header .header-upper.container .languages .language * { display: inline; }
.site.header .header-upper.container .languages .language.selected, .site.header .header-upper.container .languages .language *.selected { font-weight: bold; }
.site.header .header-upper.container .languages .language:not(:last-child):after, .site.header .header-upper.container .languages .language *:not(:last-child):after { content: " | "; font-weight: normal; }
.site.header .breadcrumbs.wrapper { padding: 0.5em 0; background-color: #208DC3; }
.site.header .breadcrumbs.wrapper .breadcrumbs.container { font-size: 1.4641em; }
.site.header .breadcrumbs.wrapper .breadcrumbs.container .title { font-size: 0.90909em; }
.site.header .breadcrumbs.wrapper .breadcrumbs.container .title h1 { display: inline; font-weight: inherit; font-size: inherit; line-height: inherit; }
.site.header .breadcrumbs.wrapper .breadcrumbs.container .title .vid { width: 2em; height: 2em; display: inline; vertical-align: middle; }
@media screen and (min-width: 480px) and (max-width: 760px) { .site.header .breadcrumbs.wrapper .breadcrumbs.container { font-size: 1.94872em; } }
@media screen and (min-width: 761px) { .site.header .breadcrumbs.wrapper .breadcrumbs.container { font-size: 2.35795em; } }
.site.header .lead.wrapper { padding: 0.5em 0; background-color: #0e3e55; }
.site.header .lead.wrapper .lead.container { font-size: 0.68301em; }

@media (min-width: 480px) { .top-portrait { max-width: 30%; height: auto; margin-left: 4em; float: right; } }
