---
layout: default
---

<main class="about page">
  
  <article>

    <header>
      <h1 class="about page title">{{ page.title }}</h1>
    </header>

    <section class="main content body">
      {{ content }}
    </section>

    <footer>
      {% if page.next_page_url %}
        <nav class="pagination">
          <a href="{{ page.next_page_url }}" rel="next">Next: {{ page.next_page_title }}</a>
        </nav>
      {% endif %}

      {% include share.html %}
    </footer>
    
  </article>

</main>
