---
layout: default
---

<main class="{{ page.categories }} post">
  
  <article>

    <header>
      <h1 class="title">{{ page.title }}  <span class="meta subtitle">{{ page.subtitle }}</span></h1>
      <p class="meta time">{{ page.date | date: "%Y-%m-%d" }}</p>
    </header>

    <section class="main content body">
      <audio src="{{ page.mp3 }}" controls><a href="{{ page.mp3 }}">MP3</a></audio>

      {{ content }}
    </section>

    <footer>
      <p><small>Podcast by <a href="http://ja.ishibashihideto.net">Hideto Ishibashi</a>. Subscribe <a href="{{ site.podcast_rss }}">RSS</a> or <a href="http://www.itunes.com/podcast?id=718081940">iTunes</a>.</small></p>

      {% include share.html %}
    </footer>
  
  </article>

</main>
