---
layout: default
---

<main class="{{ page.categories }} post">

  <article>

    <header>
      <h1 class="page title">
        {{ page.title }}
        {% if page.subtitle %}<span class="meta subtitle">{{ page.subtitle }}</span>{% endif %}
      </h1>
      <p class="meta author">{{ page.author }}</p>
      <p class="meta time">{{ page.date | date: "%Y年%-m月%-d日" }}{% if page.updated %}（{{ page.updated | date: "%Y年%-m月%-d日" }}更新）{% endif %}</p>
      {% if page.tags.size > 0 %}<div>タグ：<ul class="meta tags">{% for _tag in page.tags %}<li><a href="/tags/{{ _tag }}/">#{{ _tag }}</a></li>{% endfor %}</ul></div>{% endif %}
    </header>

    <section class="article-body">
      {% if page.show_description %}
      <div class="page-description">
        {{ page.description }}
      </div>
      {% endif %}

      {{ content }}
    </section>

    <footer>
    </footer>

  </article>

</main>
