---
layout: default
---

<main class="{{ page.categories }} post">

  <article>

    <header>
      <h1 class="page title">
        {{ page.title }}
        {% if page.subtitle %}<span class="meta subtitle">{{ page.subtitle }}</span>{% endif %}
      </h1>
      <p class="meta author">{{ page.author }}</p>
      <p class="meta time">{{ page.date | date: "%Y年%m月%d日" }}{% if page.updated %}（{{ page.updated | date: "%Y年%m月%d日" }}更新）{% endif %}</p>    </header>

    <section class="article-body">
      {% if page.show_description %}
      <div class="page-description">
        {{ page.description }}
      </div>
      {% endif %}

      {{ content }}
    </section>

    <footer>
      {% include share.html %}
    </footer>

  </article>

</main>
