---
layout: default
---

<main class="{{ page.categories }} post">
  
  <article>

    <header>
      <h1 class="page title">{{ page.title }}  <span class="meta subtitle">{{ page.subtitle }}</span></h1>
      <p class="meta time">{{ page.date | date: "%Y-%m-%d" }}</p>
    </header>

    <section class="main content body">
      {{ content }}
    </section>

    <footer>
      {% include share.html %}
      {% include sequential_links.html %}
      {% include commands.html %}
    </footer>
  
  </article>

</main>
