@charset "UTF-8";

// Typography
$base-font-family: Verdana, "游ゴシック", YuGothic, "Hiragino Kaku Gothic ProN", Meiryo, sans-serif;
$header-font-family: $base-font-family;

// Unit Sizes
$em-base: 20px;
$modular-scale-base: $em-base;
$modular-scale-ratio: $major-second;

// Font Sizes
$base-font-size: $em-base;
$h1-font-size: modular-scale(5);
$h2-font-size: modular-scale(4);
$h3-font-size: modular-scale(3);
$h4-font-size: modular-scale(2);
$h5-font-size: modular-scale(1);
$h6-font-size: modular-scale(0);

// Line height
$base-line-height: 2.0;
$header-line-height: 1.5;

// Other Sizes
$base-border-radius: 0.5em;
$base-spacing: $base-line-height * 1em;
$base-padding: 1em;
$base-z-index: 0;

// Colors
$base-accent-color: #CC4400;
$base-main-color: #208DC3;
$base-background-color: lighten($base-main-color, 55);
$base-font-color: darken($base-main-color, 25);

// Link Colors
$base-link-color: lighten($base-font-color, 20);
$base-link-underline-color: lighten($base-link-color, 20);
$base-hover-link-color: darken($base-link-color, 20);
$base-button-color: darken($base-link-color, 10);
$base-button-text-color: $base-background-color;
$base-hover-button-color: $base-hover-link-color;

// Flash Colors
$light-yellow: #FFEE55;
$light-red: #FBE3E4;
$light-green: #E6EFC2;
$alert-color: $light-yellow;
$error-color: $light-red;
$notice-color: lighten($base-accent-color, 40);
$success-color: $light-green;

// Border color
$base-border-color: $base-font-color;
$base-border: 1px solid $base-border-color;

// Forms
$form-border-color: $base-border-color;
$form-border-color-hover: darken($base-border-color, 10);
$form-border-color-focus: $base-accent-color;
$form-border-radius: $base-border-radius;
$form-box-shadow: inset 0 1px 3px rgba(black,0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px rgba(darken($form-border-color-focus, 5), 0.7);
$form-font-size: $base-font-size;
$form-font-family: $base-font-family;
