@import "tab";

%border-top {
  margin-top: $base-spacing;
  border-top: $base-border;
  padding-top: $base-spacing;
}

%inline-button-list {
	display: inline-block;
	border: $base-border;
	border-radius: $base-border-radius;
	padding: 0;
	margin: 0.4em 0.2em;
	
	a {
	  padding: 1.2em;
	  line-height: $base-line-height * 1.5;
	}
}
